.red-color-mode {
    --alien-50: 0 100% 97%; 
    --alien-100: 0 100% 94%;
    --alien-200: 0 96% 89%;
    --alien-300: 0 91% 82%;
    --alien-400: 0 88% 73%;
    --alien-500: 0 85% 62%;
    --alien-600: 0 83% 53%;
    --alien-700: 0 78% 44%;
    --alien-800: 0 81% 36%;
    --alien-900: 0 72% 30%;
    --alien-950: 0 85% 15%;
  }
  
  .blue-color-mode {
    --alien-50: 213 100% 97%;
    --alien-100: 213 95% 93%;
    --alien-200: 213 89% 86%;
    --alien-300: 213 83% 76%;
    --alien-400: 213 91% 66%;
    --alien-500: 213 96% 60%;
    --alien-600: 221 84% 53%;
    --alien-700: 226 72% 47%;
    --alien-800: 227 67% 39%;
    --alien-900: 228 64% 33%;
    --alien-950: 229 59% 18%;
  }
  
  .green-color-mode {
    --alien-50: 134 64% 96%;
    --alien-100: 134 72% 91%;
    --alien-200: 134 79% 83%;
    --alien-300: 134 79% 73%;
    --alien-400: 134 77% 64%;
    --alien-500: 134 61% 55%;
    --alien-600: 134 73% 45%;
    --alien-700: 134 81% 37%;
    --alien-800: 134 76% 30%;
    --alien-900: 134 66% 26%;
    --alien-950: 134 90% 11%;
  }
  
  .orange-color-mode {
    --alien-50: 24 100% 97%;
    --alien-100: 24 100% 91%;
    --alien-200: 25 97% 84%;
    --alien-300: 26 96% 75%;
    --alien-400: 26 95% 65%;
    --alien-500: 24 94% 55%;
    --alien-600: 19 91% 47%;
    --alien-700: 16 86% 42%;
    --alien-800: 16 77% 35%;
    --alien-900: 15 72% 29%;
    --alien-950: 15 77% 16%;
  }
  
  .yellow-color-mode {
    --alien-50: 54 93% 96%;
    --alien-100: 54 95% 90%;
    --alien-200: 54 96% 82%;
    --alien-300: 54 97% 66%;
    --alien-400: 48 96% 53%;
    --alien-500: 48 88% 48%;
    --alien-600: 42 93% 39%;
    --alien-700: 39 87% 33%;
    --alien-800: 36 82% 29%;
    --alien-900: 34 75% 23%;
    --alien-950: 34 78% 13%;
  }
  
  .purple-color-mode {
    --alien-50: 258 100% 97%;
    --alien-100: 258 100% 94%;
    --alien-200: 258 100% 89%;
    --alien-300: 258 92% 83%;
    --alien-400: 258 91% 72%;
    --alien-500: 258 89% 64%;
    --alien-600: 262 84% 56%;
    --alien-700: 269 72% 48%;
    --alien-800: 270 67% 40%;
    --alien-900: 272 64% 32%;
    --alien-950: 273 89% 21%;
  }
  
  .pink-color-mode {
    --alien-50: 322 77% 97%;
    --alien-100: 322 84% 94%;
    --alien-200: 322 88% 89%;
    --alien-300: 322 88% 78%;
    --alien-400: 322 86% 66%;
    --alien-500: 322 82% 56%;
    --alien-600: 322 77% 48%;
    --alien-700: 322 76% 42%;
    --alien-800: 322 74% 35%;
    --alien-900: 322 69% 30%;
    --alien-950: 322 86% 17%;
  }
  
  .gray-color-mode {
    --alien-50: 0 0% 98%;
    --alien-100: 0 0% 96%;
    --alien-200: 0 0% 89%;
    --alien-300: 0 0% 83%;
    --alien-400: 0 0% 64%;
    --alien-500: 0 0% 45%;
    --alien-600: 0 0% 32%;
    --alien-700: 0 0% 25%;
    --alien-800: 0 0% 15%;
    --alien-900: 0 0% 10%;
    --alien-950: 0 0% 4%;
  }