@import url("./tailwind.css");
@import url("./color-mode.css");

body {
  @apply transition-all overflow-x-hidden overflow-y-auto min-h-screen bg-white dark:bg-black;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}